# --- Python ---
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
carnus_env/
.venv/
env/
venv/
pip-log.txt
pip-delete-this-directory.txt

# --- AWS SAM ---
.aws-sam/
samconfig.toml
event.json
template.yaml
src/exiftool
src/lib/
config.yaml

# --- Binaries & System ---
# We ignore the local bin folder and the exiftool tarballs
bin/
*.tar.gz
*.zip
.DS_Store
Thumbs.db

# --- Logs & Metadata ---
*.log
.idea/
.vscode/
*.swp

# Dependency directories
frontend/node_modules/
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build output
frontend/dist/
frontend/build/

# Local configuration & environment
frontend/package-lock.json
frontend/src/amplify-config.js
config.yaml
samconfig.toml
template.yaml
.aws-sam/
